<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="./vendor/animate.min.css">
    <link rel="stylesheet" href="./vendor/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="./vendor/assets/owl.theme.default.min.css">

    <link rel="stylesheet" type="text/css" href="./css/Nhat/main.css">
    <link rel="stylesheet" type="text/css" href="./css/Hoang/style.css">
    <link rel="stylesheet" type="text/css" href="./css/Hau/style.css">
    <title>Payyed - About Us</title>
    <style>
        .mt-60 {
            margin-top: 60px;
        }
    </style>
</head>

<body>
    <div class="loading">
        <div class="loading-content">
            <span>...Loading</span>

        </div>
    </div>
    <div class="over-layer">

        <header>
            <div class="navigation-bar">
                <div class="container">
                    <div class="header__content flex j-between a-center">
                        <div class="left flex a-center j-between">
                            <div id="logo" class="logo">
                                <a href="/">
                                    <img src="http://demo.harnishdesign.net/html/payyed/images/logo.png" alt="">
                                </a>
                            </div>

                            <div>
                                <%if(currentUser){%>
                                <ul class="flex">

                                    <% if(currentUser.permisstion == 0) { %>
                                    <li class="navs-item">
                                        <a href="/my-account">
                                            <button class="btn active">My Account</button>
                                        </a>
                                        <ul class="drop-down">
                                            <li>
                                                <a href="/change-password">Change Password</a>
                                            </li>
                                            <li>
                                                <a href="/my-account">Update Info</a>
                                            </li>
                                            <% if(currentUser.isActive != 1){%>
                                            <li>
                                                <a href="/page-confirm">Verify Account</a>
                                            </li>

                                            <%}%>
                                            <li>
                                                <a href="/create-credit-card">Create New Credit Card</a>
                                            </li>
                                            <li>
                                                <a href="/create-saving-card">Create New Saving Card</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li  class="navs-item">
                                        <a href="/transfer"><button class="btn">Transfer</button> </a>
                                    </li>
                                    <li  class="navs-item">
                                        <a href="/accounts"><button class="btn">Account</button> </a>

                                    </li>
                                    <li  class="navs-item">
                                        <a href="/noti"><button class="btn">Notification</button> </a>
                                        <ul class="drop-down user-noti">
                                            
                                        </ul>
                                        <div class="number-noti"></div>
                                    </li>
                                    <li class="navs-item n-about">
                                        <a href="/about"><button class="btn">About</button> </a>
                                    </li>
                                    <li  class="navs-item">
                                        <a href="/contact"><button class="btn">Contact</button> </a>
                                    </li>
                                    <% }if(currentUser.permisstion == 1) { %>
                                            <li>
                                                <a href="/quanli"><button class="btn">Manage</button> </a>
                                            </li>
                                            <li>
                                                <a href="/request"><button class="btn">Notification</button> </a>
                                                <ul class="drop-down">
                                                    <%if(staffNotificationCount > 0){%>
                                                    <%staffNotification.map((item,index)=>{%>
                                                    <% if(item.type == 1){%>
                                                    <%-`<li><a href="/request?id=${item.id}">User ${item.userID} yêu cầu xác thực tài khoản </a></li>`%>
                                                    <% }%>

                                                    <% if(item.type == 2){%>
                                                    <%-`<li><a href="/request?id=${item.id}">User ${item.userID} yêu cầu mở tài khoản ngân hàng </a></li></li>`%>
                                                    <% }%>

                                                    <% if(item.type == 3){%>
                                                    <%-`<li><a href="/request?id=${item.id}">User ${item.userID} yêu cầu mở tài khoản tiết kiệm</a></li>`%>
                                                    <% }%>
                                                    <% if(item.type == 4){%>
                                                    <%-`<li><a href="/request?id=${item.id}">User ${item.userID} yêu cầu khóa tài khoản </a></li>`%>
                                                    <% }%>

                                                    <% })%>
                                                    <%}%>
                                        </ul>

                                        <div class="number-noti">
                                            <%if(staffNotificationCount >0){%>
                                                    <%-staffNotificationCount%>
                                                    <%}%>
                                        </div>

                                    </li>

                                    <%} %>

                                                </ul>
                                                <%}%>
                            </div>

                            <% if(!currentUser) { %>
                                                <div class="sign-in__sign-up">
                                                    <a href="/login">
                                                        <button class="btn btn-sign-in">
                                                            Sign In
                                                        </button>
                                                    </a>
                                                    <a href="/register">
                                                        <button class="btn btn-sign-up">
                                                            Sign Up
                                                        </button>
                                                    </a>
                                                </div>
                                                <% } else{%>

                                                <%-`<a class="username" href="/logout">
                            <button class="btn">
                            ${currentUser.displayName} (Log out)
                            </button></a>`%>
                                                <% }%>
                                                <div class="menu-res wow bounceInDown">
                                                    <label class="fas fa-bars nvn-bar" id="nvn-bar"></label>
                                                    <div class="bars wow fadeInDown ">
                                                        <div class="bars-content">
                                                            <label class="fas fa-times nvn-close"
                                                                id="nvn-close"></label>
                                                            <div class="bars-nav">
                                                                <%if(currentUser){%>
                                                                <% if(currentUser.permisstion == 0) { %>
                                                                <a href="/my-account"><button class="btn">My
                                                                        Account</button>
                                                                </a>
                                                                <a href="/transfer"><button
                                                                        class="btn">Transfer</button>
                                                                </a>

                                                                <a href="/accounts"><button class="btn">Account</button>
                                                                </a>
                                                                <a href="/noti"><button
                                                                        class="btn">Notification</button> </a>
                                                                <a href="/"><button class="btn">Help</button> </a>
                                                                <a href="/"><button
                                                                        <% }if(currentUser.permisstion == 1) { %> <a
                                                                        href="/quanli"><button
                                                                            class="btn">Manage</button>
                                                                </a>
                                                                <a href="/noti"><button
                                                                        class="btn">Notification</button> </a>

                                                                <%}}%>

                                                            </div>
                                                            <div class="bars-actions flex j-center a-center">
                                                                <% if(!currentUser) { %>

                                                                <div class="sign-in__sign-up flex">
                                                                    <a href="/login">
                                                                        <button class="btn btn-sign-in">
                                                                            Sign In
                                                                        </button>
                                                                    </a>
                                                                    <a href="/register">
                                                                        <button class="btn btn-sign-up">
                                                                            Sign Up
                                                                        </button>
                                                                    </a>
                                                                </div>
                                                                <% } else{%>

                                                                <%-`<a class="username" href="/logout">
                                                <button class="btn">
                                                ${currentUser.displayName} (Log out)
                                                </button></a>`%>
                                                                <% }%>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                            </div>
                        </div>
                    </div>
        </header>
        <section class="about-bg-header">
            <section class="about-wrap section-10">
                <div class="about-mask opacity-07 bg-dark"></div>
                <div class="about-content">
                    <div class="container text-white">
                        <div class="text-center">
                            <h1 class="text-11 font-weight-600 text-white mb-4">About Payyed</h1>
                            <p class="text-5 text-white line-height-4 mb-4">Our mission is to help you save on transfer
                                fees
                                and exchange rates!</p>
                            <a href="#" class=" btn-set btn-primary btn-bg m-2" style="color: white;">Open a Free
                                Account</a>
                            <a class=" btn btn-set btn-outline-light video-btn m-2" href="#"
                                style="background-color: transparent;border: 1px solid #ddd !important;">
                                <span class="mr-2">
                                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                                </span>See How it Works
                            </a>

                        </div>

                    </div>
                </div>
            </section>
        </section>
        <a onclick="topFunction()" data-toggle="tooltip" title="" id="myBtn" title="Go to top"><i
                class="fa fa-chevron-up"></i></a>
        <!-- End About Background -->
        <div id="h-content">
            <section class="about-who section-10">
                <div class=" grid-2">
                    <div class="d-flex">
                        <div class="my-auto px-0 px-lg-5 mx-2">
                            <h2 class="text-9">Who we are</h2>
                            <p class="text-4">Quidam lisque persius interesset his et, in quot quidam persequeris vim,
                                ad mea essent possim iriure. Lisque persius interesset his et, in quot quidam
                                persequeris vim, ad mea essent possim iriure. lisque persius interesset his et, in quot
                                quidam mea essent possim iriure.</p>
                        </div>
                    </div>
                    <div class=" my-auto text-center">
                        <img class="img-fluid shadow-lg rounded-lg" src="./img/who-we-are.jpg" alt=""> </div>
                </div>
            </section>
            <!-- End Who we are  -->
            <section class="about-our-values section-10">
                <div class="grid-2">
                    <div class=" order-2 order-lg-1">
                        <div class="ml-auto mb-lg-n5"> <img class="img-fluid rounded-lg shadow-lg"
                                src="./img/our-values-vision.jpg" alt="banner"> </div>
                        <div class="mt-lg-n5"> <img class="img-fluid rounded-lg shadow-lg"
                                src="./img/our-values-mission.jpg" alt="banner"> </div>
                    </div>
                    <div class=" d-flex order-1 order-lg-2">
                        <div class="my-auto px-0 px-lg-5">
                            <h2 class="text-9 mb-4">Our Values</h2>
                            <h4 class="text-4 font-weight-600">Our Mission</h4>
                            <p class="text-3">Quidam lisque persius interesset his et, in quot quidam persequeris vim,
                                ad
                                mea essent possim iriure. Lisque persius interesset his et, in quot quidam persequeris
                                vim,
                                ad mea essent possim iriure. lisque persius interesset his et, in quot quidam mea essent
                                possim iriure.</p>
                            <h4 class="text-4 font-weight-600 mb-2">Our Vision</h4>
                            <p class="text-3">Persequeris quidam lisque persius interesset his et, in quot quidam vim,
                                ad
                                mea essent possim iriure. Lisque persius interesset his et, in quot quidam persequeris
                                vim,
                                ad mea essent possim iriure. lisque persius interesset his et, in quot quidam.</p>
                            <h4 class="text-4 font-weight-600 mb-2">Our Goal</h4>
                            <p class="text-3">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea
                                essent possim iriure. Lisque persius interesset his et, in quot quidam persequeris vim,
                                ad
                                mea essent possim iriure. lisque persius interesset his et, in quot quidam mea essent
                                possim
                                iriure.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!--  End Our Values  --- -->
            <section class="about-leader-ship section-10">
                <div class="container">
                    <h2 class="text-9 text-center">Leadership</h2>
                    <p class="text-4 text-center mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.</p>
                    <div class="grid-4">
                        <div class="text-center mb-4 mb-md-0">
                            <div class="team rounded d-inline-block"> <img class="img-fluid rounded" alt=""
                                    src="./img/leader.jpg">
                                <h3>Neil Patel</h3>
                                <p class="text-muted">CEO &amp; Founder</p>
                                <ul class="social-icons social-icons-sm d-inline-flex">
                                    <li class="social-icons-facebook"><a href="#"><i class="fa fa-facebook"
                                                aria-hidden="true"></i></i></a></li>
                                    <li class="social-icons-twitter"><a href=""><i class="fa fa-twitter"
                                                aria-hidden="true"></i></i></a></li>
                                    <li class="social-icons-google"><a href=""><i class="fa fa-google"
                                                aria-hidden="true"></i></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="text-center mb-4 mb-md-0">
                            <div class="team rounded d-inline-block"> <img class="img-fluid rounded" alt=""
                                    src="./img/leader-2.jpg">
                                <h3>James Maxwell</h3>
                                <p class="text-muted">Co-Founder</p>
                                <ul class="social-icons social-icons-sm d-inline-flex">
                                    <li class="social-icons-facebook"><a href=""><i class="fa fa-facebook"
                                                aria-hidden="true"></i></i></a></li>
                                    <li class="social-icons-twitter"><a href=""><i class="fa fa-twitter"
                                                aria-hidden="true"></i></i></a></li>
                                    <li class="social-icons-google"><a href=""><i class="fa fa-google"
                                                aria-hidden="true"></i></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="text-center mb-4 mb-md-0">
                            <div class="team rounded d-inline-block"> <img class="img-fluid rounded" alt=""
                                    src="./img/leader-3.jpg">
                                <h3>Ruby Clinton</h3>
                                <p class="text-muted">Chief Marketing Officer</p>
                                <ul class="social-icons social-icons-sm d-inline-flex">
                                    <li class="social-icons-facebook"><a href=""><i class="fa fa-facebook"
                                                aria-hidden="true"></i></i></a></li>
                                    <li class="social-icons-twitter"><a href=""><i class="fa fa-twitter"
                                                aria-hidden="true"></i></i></a></li>
                                    <li class="social-icons-google"><a href=""><i class="fa fa-google"
                                                aria-hidden="true"></i></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="text-center mb-4 mb-md-0">
                            <div class="team rounded d-inline-block"> <img class="img-fluid rounded" alt=""
                                    src="./img/leader-4.jpg">
                                <h3>Miky Sheth</h3>
                                <p class="text-muted">General Manager</p>
                                <ul class="social-icons social-icons-sm d-inline-flex">
                                    <li class="social-icons-facebook"><a href="" target="_blank"><i
                                                class="fa fa-facebook" aria-hidden="true"></i></i></a></li>
                                    <li class="social-icons-twitter"><a href="" target="_blank"><i class="fa fa-twitter"
                                                aria-hidden="true"></i></i></a></li>
                                    <li class="social-icons-google"><a href="" target="_blank"><i class="fa fa-google"
                                                aria-hidden="true"></i></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Leader Ship -->
            <section class="about-our-investors section-10">
                <div class="container">
                    <h2 class="text-9 text-center">Our Investors</h2>
                    <p class="text-4 text-center mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.</p>
                    <div class="brands-grid separator-border">
                        <div class="grid-6 align-items-center">
                            <div class=" text-center"><a href=""><img class="img-fluid img-investors border-bot"
                                        src="./img/partner-1.png" alt="Brands"></a></div>
                            <div class=" text-center"><a href=""><img class="img-fluid img-investors border border-bot"
                                        src="./img/partner-11.png" alt="Brands"></a></div>
                            <div class=" text-center"><a href=""><img class="img-fluid img-investors border border-bot"
                                        src="./img/partner-3.png" alt="Brands"></a></div>
                            <div class=" text-center"><a href=""><img class="img-fluid img-investors border border-bot"
                                        src="./img/partner-4.png" alt="Brands"></a></div>
                            <div class=" text-center"><a href=""><img class="img-fluid img-investors border border-bot"
                                        src="./img/partner-5.png" alt="Brands"></a></div>
                            <div class=" text-center"><a href=""><img class="img-fluid img-investors border border-bot"
                                        src="./img/partner-6.png" alt="Brands"></a></div>
                            <div class=" text-center"><a href=""><img class="img-fluid img-investors "
                                        src="./img/partner-7.png" alt="Brands"></a></div>
                            <div class=" text-center"><a href=""><img class="img-fluid img-investors border"
                                        src="./img/partner-8.png" alt="Brands"></a></div>
                            <div class=" text-center"><a href=""><img class="img-fluid img-investors border"
                                        src="./img/partner-9.png" alt="Brands"></a></div>
                            <div class=" text-center"><a href=""><img class="img-fluid img-investors border"
                                        src="./img/partner-10.png" alt="Brands"></a></div>
                            <div class=" text-center"><a href=""><img class="img-fluid img-investors border"
                                        src="./img/partner-11.png" alt="Brands"></a></div>
                            <div class=" text-center"><a href=""><img class="img-fluid img-investors border"
                                        src="./img/partner-1.png" alt="Brands"></a></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Our investors -->
            <section class="about-say section-10">
                <div class="container">
                    <h2 class="text-9 text-center">What people are saying about Payyed</h2>
                    <p class="text-4 text-center mb-4">A payments experience people love to talk about</p>
                    <div id="slider" class=" mt-5 mb-5 ">
                        <div class="sliders owl-carousel owl-theme">
                            <div class="testimonial rounded text-center p-4 d-inline-block slide ml-2 mr-2">
                                <p class="text-4">“Easy to use, reasonably priced simply dummy text of the printing and
                                    typesetting industry. Quidam lisque persius interesset his et, in quot quidam possim
                                    iriure.”</p>
                                <strong class="d-block font-weight-600 say-h">Jay Shah</strong><br><span
                                    class="text-muted say-p">Founder at
                                    Icomatic Pvt Ltd</span>
                            </div>
                            <div class="testimonial rounded text-center p-4 d-inline-block slide ml-2 mr-2">
                                <p class="text-4">“I am happy Working with printing and typesetting industry. Quidam
                                    lisque
                                    persius interesset his et, in quot quidam persequeris essent possim iriure.”</p>
                                <strong class="d-block font-weight-600 say-h">Patrick Cary</strong><br> <span
                                    class="text-muted say-p">Freelancer from USA</span>
                            </div>
                            <div class="testimonial rounded text-center p-4  d-inline-block slide ml-2 mr-2">
                                <p class="text-4">“Fast easy to use transfers to a different currency. Much better value
                                    that the banks.”</p>
                                <strong class="d-block font-weight-600 say-h">De Mortel</strong><br> <span
                                    class="text-muted say-p">Online
                                    Retail</span>
                            </div>
                            <div class="testimonial rounded text-center p-4  d-inline-block slide ml-2 mr-2">
                                <p class="text-4">“I have used them twice now. Good rates, very efficient service and it
                                    denies high street banks an undeserved windfall. Excellent.”</p>
                                <strong class="d-block font-weight-600 say-h">Chris Tom</strong> <br><span
                                    class="text-muted say-p">User
                                    from UK</span>
                            </div>
                            <div class="testimonial rounded text-center p-4  d-inline-block slide ml-2 mr-2">
                                <p class="text-4">“It's a real good idea to manage your money by payyed. The rates are
                                    fair
                                    and you can carry out the transactions without worrying!”</p>
                                <strong class="d-block font-weight-600 say-h">Mauri Lindberg</strong><br> <span
                                    class="text-muted say-p">Freelancer from Australia</span>
                            </div>
                            <div class="testimonial rounded text-center p-4  d-inline-block slide ml-2 mr-2">
                                <p class="text-4">“Only trying out since a few days. But up to now excellent. Seems to
                                    work. I'm only using for sending money to friends at the moment.”</p>
                                <strong class="d-block font-weight-600 say-h">Dennis Jacques</strong><br> <span
                                    class="text-muted say-p">User from USA</span>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-4"><a href="#" class="btn-link text-4">See more people review<i
                                class="fa fa-chevron-right" aria-hidden="true"></i></a></div>
                </div>
            </section>
            <!-- End Our Say something ... -->
            <section class="about-join-us">
                <div class="container text-center">
                    <div class="grid-4">
                        <div class="">
                            <div class="featured-box text-center">
                                <div class="featured-box-icon text-light mb-2"> <i class="fa fa-globe"
                                        aria-hidden="true"></i>
                                </div>
                                <h4 class="text-12 text-white mb-0">180+</h4>
                                <p class="text-4 text-white mb-0">Countries</p>
                            </div>
                        </div>
                        <div class="">
                            <div class="featured-box text-center">
                                <div class="featured-box-icon text-light mb-2"> <i class="fa fa-usd"
                                        aria-hidden="true"></i>
                                </div>
                                <h4 class="text-12 text-white mb-0">120</h4>
                                <p class="text-4 text-white mb-0">Currencies</p>
                            </div>
                        </div>
                        <div class=" mt-4 mt-md-0">
                            <div class="featured-box text-center">
                                <div class="featured-box-icon text-light mb-2"> <i class="fa fa-users"
                                        aria-hidden="true"></i>
                                </div>
                                <h4 class="text-12 text-white mb-0">2.5M</h4>
                                <p class="text-4 text-white mb-0">Users</p>
                            </div>
                        </div>
                        <div class=" mt-4 mt-md-0">
                            <div class="featured-box text-center">
                                <div class="featured-box-icon text-light mb-2"><i class="fa fa-life-ring"
                                        aria-hidden="true"></i></div>
                                <h4 class="text-12 text-white mb-0">24X7</h4>
                                <p class="text-4 text-white mb-0">Support</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include ('footer'); %>