<div class="card col-xs-4">
    <div class=<%-`"card__content ${card.bankCode} "`%>>
        <div class="gutter ">

            <div class="card-number">
                <p><%-card.number%></p>
            </div>
            <div class="card-date flex a-center">
                <div class="card-from card-date__item">
                    <p>Valid from</p>
                    <div class="date"><%-card.beginDate%></div>
                </div>
                <div class="card-good-thru card-date__item">
                    <p>Good thru</p>
                    <div class="date"><%-card.endDate%></div>
                </div>
            </div>
            <div class="card-info flex a-center">
                <div class="card-name">
                    <%-card.name%>
                </div>
                <div class="type">
                    <p class="napas">napas</p>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="card col-xs-4">
    <div class="card__content techcombank">
        <div class="gutter ">

            <div class="card-number">
                <p>1234 1234 1234 1456</p>
            </div>
            <div class="card-date flex a-center">
                <div class="card-from card-date__item">
                    <p>Valid from</p>
                    <div class="date">16/19</div>
                </div>
                <div class="card-good-thru card-date__item">
                    <p>Good thru</p>
                    <div class="date">16/29</div>
                </div>
            </div>
            <div class="card-info flex a-center">
                <div class="card-name">
                    Nguyen van nhat
                </div>
                <div class="type">
                    <p class="visa">visa</p>
                </div>
            </div>
        </div>
    </div>
</div>