<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="./vendor/animate.min.css">
    <link rel="stylesheet" href="./vendor/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="./vendor/assets/owl.theme.default.min.css">

    <link rel="stylesheet" type="text/css" href="./css/Nhat/main.css">
    <link rel="stylesheet" type="text/css" href="./css/Hoang/style.css">
    <link rel="stylesheet" type="text/css" href="./css/Hau/style.css">
    <title>Payyed - About Us</title>
   
    <header>
        <div class="navigation-bar">
            <div class="container">
                <div class="header__content flex j-between a-center">
                    <div class="left flex a-center j-between">
                        <div id="logo" class="logo">
                            <a href="/">
                                <img src="http://demo.harnishdesign.net/html/payyed/images/logo.png" alt="">
                            </a>
                        </div>

                        <div>
                            <%if(currentUser){%>
                            <ul class="flex">

                                <% if(currentUser.permisstion == 0) { %>
                                <li class="navs-item">
                                    <a href="/my-account">
                                        <button class="btn active">My Account</button>
                                    </a>
                                    <ul class="drop-down">
                                        <li>
                                            <a href="/change-password">Change Password</a>
                                        </li>
                                        <li>
                                            <a href="/my-account">Update Info</a>
                                        </li>
                                        <% if(currentUser.isActive != 1){%>
                                        <li>
                                            <a href="/page-confirm">Verify Account</a>
                                        </li>

                                        <%}%>
                                        <li>
                                            <a href="/create-credit-card">Create New Credit Card</a>
                                        </li>
                                        <li>
                                            <a href="/create-saving-card">Create New Saving Card</a>
                                        </li>
                                    </ul>
                                </li>
                                <li  class="navs-item">
                                    <a href="/transfer"><button class="btn">Transfer</button> </a>
                                </li>
                                <li  class="navs-item">
                                    <a href="/accounts"><button class="btn">Account</button> </a>

                                </li>
                                <li  class="navs-item">
                                    <a href="/noti"><button class="btn">Notification</button> </a>
                                    <ul class="drop-down user-noti">
                                        
                                    </ul>
                                    <div class="number-noti"></div>
                                </li>
                                <li class="navs-item n-about">
                                    <a href="/about"><button class="btn">About</button> </a>
                                </li>
                                <li  class="navs-item">
                                    <a href="/contact"><button class="btn">Contact</button> </a>
                                </li>
                                <% }if(currentUser.permisstion == 1) { %>
                                        <li>
                                            <a href="/quanli"><button class="btn">Manage</button> </a>
                                        </li>
                                        <li>
                                            <a href="/request"><button class="btn">Notification</button> </a>
                                            <ul class="drop-down">
                                                <%if(staffNotificationCount > 0){%>
                                                <%staffNotification.map((item,index)=>{%>
                                                <% if(item.type == 1){%>
                                                <%-`<li><a href="/request?id=${item.id}">User ${item.userID} yêu cầu xác thực tài khoản </a></li>`%>
                                                <% }%>

                                                <% if(item.type == 2){%>
                                                <%-`<li><a href="/request?id=${item.id}">User ${item.userID} yêu cầu mở tài khoản ngân hàng </a></li></li>`%>
                                                <% }%>

                                                <% if(item.type == 3){%>
                                                <%-`<li><a href="/request?id=${item.id}">User ${item.userID} yêu cầu mở tài khoản tiết kiệm</a></li>`%>
                                                <% }%>
                                                <% if(item.type == 4){%>
                                                <%-`<li><a href="/request?id=${item.id}">User ${item.userID} yêu cầu khóa tài khoản </a></li>`%>
                                                <% }%>

                                                <% })%>
                                                <%}%>
                                    </ul>

                                    <div class="number-noti">
                                        <%if(staffNotificationCount >0){%>
                                                <%-staffNotificationCount%>
                                                <%}%>
                                    </div>

                                </li>

                                <%} %>

                                            </ul>
                                            <%}%>
                        </div>

                        <% if(!currentUser) { %>
                                            <div class="sign-in__sign-up">
                                                <a href="/login">
                                                    <button class="btn btn-sign-in">
                                                        Sign In
                                                    </button>
                                                </a>
                                                <a href="/register">
                                                    <button class="btn btn-sign-up">
                                                        Sign Up
                                                    </button>
                                                </a>
                                            </div>
                                            <% } else{%>

                                            <%-`<a class="username" href="/logout">
                        <button class="btn">
                        ${currentUser.displayName} (Log out)
                        </button></a>`%>
                                            <% }%>
                                            <div class="menu-res wow bounceInDown">
                                                <label class="fas fa-bars nvn-bar" id="nvn-bar"></label>
                                                <div class="bars wow fadeInDown ">
                                                    <div class="bars-content">
                                                        <label class="fas fa-times nvn-close"
                                                            id="nvn-close"></label>
                                                        <div class="bars-nav">
                                                            <%if(currentUser){%>
                                                            <% if(currentUser.permisstion == 0) { %>
                                                            <a href="/my-account"><button class="btn">My
                                                                    Account</button>
                                                            </a>
                                                            <a href="/transfer"><button
                                                                    class="btn">Transfer</button>
                                                            </a>

                                                            <a href="/accounts"><button class="btn">Account</button>
                                                            </a>
                                                            <a href="/noti"><button
                                                                    class="btn">Notification</button> </a>
                                                            <a href="/"><button class="btn">Help</button> </a>
                                                            <a href="/"><button
                                                                    <% }if(currentUser.permisstion == 1) { %> <a
                                                                    href="/quanli"><button
                                                                        class="btn">Manage</button>
                                                            </a>
                                                            <a href="/noti"><button
                                                                    class="btn">Notification</button> </a>

                                                            <%}}%>

                                                        </div>
                                                        <div class="bars-actions flex j-center a-center">
                                                            <% if(!currentUser) { %>

                                                            <div class="sign-in__sign-up flex">
                                                                <a href="/login">
                                                                    <button class="btn btn-sign-in">
                                                                        Sign In
                                                                    </button>
                                                                </a>
                                                                <a href="/register">
                                                                    <button class="btn btn-sign-up">
                                                                        Sign Up
                                                                    </button>
                                                                </a>
                                                            </div>
                                                            <% } else{%>

                                                            <%-`<a class="username" href="/logout">
                                            <button class="btn">
                                            ${currentUser.displayName} (Log out)
                                            </button></a>`%>
                                                            <% }%>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                        </div>
                    </div>
                </div>
    </header>

<body>
    <div class="loading">
        <div class="loading-content">
            <span>...Loading</span>
        </div>
    </div>
   
    <div class="container">
     <h2>Notification</h2>
     <div class="mb-4"></div>
     <div class="grid-2">
        <div class="blog-noti">
            <div class="image"> <a href="#"><img class="img-responsive" src="./img/our-values-vision.jpg" alt=""></a> </div>
            <h4 ><a href="#" class="post_title_blog">Volutpat Dignissim Dolor Sed Luctur Ullamcoper Nissi</a></h4>
             <p class="description"><a href="#" class="post_title_blog" >Lorem ipsum dolor sit amet, consectetur...</a></p>
        </div>
        <div class="blog-noti">
            <div class="image"> <a href="#"><img class="img-responsive" src="./img/our-values-vision.jpg" alt=""></a> </div>
            <h4 ><a href="#" class="post_title_blog">Volutpat Dignissim Dolor Sed Luctur Ullamcoper Nissi</a></h4>
              <p class="description"><a href="#" class="post_title_blog" >Lorem ipsum dolor sit amet, consectetur...</a></p>
        </div>
        <div class="blog-noti">
            <div class="image"> <a href="#"><img class="img-responsive" src="./img/our-values-vision.jpg" alt=""></a> </div>
            <h4 ><a href="#" class="post_title_blog">Volutpat Dignissim Dolor Sed Luctur Ullamcoper Nissi</a></h4>
              <p class="description"><a href="#" class="post_title_blog" >Lorem ipsum dolor sit amet, consectetur...</a></p>
        </div>
        <div class="blog-noti">
            <div class="image"> <a href="#"><img class="img-responsive" src="./img/our-values-vision.jpg" alt=""></a> </div>
            <h4 ><a href="#" class="post_title_blog">Volutpat Dignissim Dolor Sed Luctur Ullamcoper Nissi</a></h4>
              <p class="description"><a href="#" class="post_title_blog" >Lorem ipsum dolor sit amet, consectetur...</a></p>
        </div>
     </div>
    </div>
    <div class="mb-4"></div>
</body>
            <%- include ('footer'); %>