<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<%- include ('header',{title:'Home - Transfer Money'}); %>
<form action="" method="post">
    <div class="form-group searchform cf">
        <label for="txtCustomer">Tìm kiếm thông tin khách hàng</label>
        <input type="text" class="txtCustomer" required placeholder="Enter Your Email , Username, Phone  "
            name="txtCustomer" id="txtCustomer">
        <input type="submit" value="Tìm kiếm ">
    </div>
</form>
<div class="container"></div>
<table class="table table-searchform container">
    <thead>
        <tr>
            <th scope="col">Display Name</th>
            <th scope="col">Email</th>
            <th scope="col">User Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Xác thực tài khoản</th>
            <th scope="col">Tình trạng khách hàng</th>
            <th scope="col">Lịch sử giao dịch </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <% if(users){%>
            <%- `<th> ${users.displayName}</th>`%>
            <%- `<td>${users.email}</td>`%>
            <%- `<td> ${users.username}</td>`%>
            <%- `<td> ${users.phoneNumber}</td>`%>
            <%- `<td class="btn btn-sign-up btn-acp">Xác thực</td>`%>  
            <%- `<td class="btn btn-sign-up btn-acp btn-dark">Từ chối</td>`%>  
            <%- `<td><select class="mdb-select md-form">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Chưa xác thực</option>
                <option value="2">Đã xác thực</option>
                <option value="3">Khóa          </option>
              </select>
              </td>`%>
           
            <%- `<td> <a href="./lichsu"  class="btn btn-sign-up btn-acp mar-7" > Truy cập </a></td>`%>
            <%}%>
      
      </tr>
    </tbody>
  </table>

    <%- include ('footer'); %>
<style>
.txtCustomer {
    margin: 15px 0;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}
.searchform {
    background: #f4f4f4;
    border: 1px solid #d3d3d3;
    left: 50%;
    padding: 29px 59px;
    position: absolute;
    margin: -22px 0 0 -170px;
    top: 33px;
    width: 339px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
    border-radius: 10px;
    position: relative;
}
.searchform input {
    background: #fefefe;
    border: none;
    font: 12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
    margin-right: 5px;
    padding: 10px;
    width: 216px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
    border-radius: 9px;
}
.table-searchform {
    top: 20%;
    box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
    border-radius: 10px;
    position: relative;
}
.btn-acp
{
    margin: 2px;
    color: #fff;
    padding: 7px!important;
}
.btn-dark {
    background-color: black;
}
.mar-7
{
    margin:-7px!important;
}
</style>
<script>
    // Material Select Initialization
$(document).ready(function() {
    $('.mdb-select').materialSelect();
    });
</script>
 
    <%- include ('footer'); %>