<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  
<%- include ('header',{title:'Home - Transfer Money'}); %>
<form action="" method="post">
    <div class="form-group searchform cf">
        <label for="txtCustomer">Tìm kiếm thông tin khách hàng</label>
        <input type="text" class="txtCustomer" required  
            name="txtCustomer" id="txtCustomer" placeholder="Enter Your ID, Email , Username, Phone" value = "<%- currentFind !=null ?currentFind:'' %>">
        <input type="submit" value="Tìm kiếm ">
    </div>
</form>

<div class="user-info row ">
    <div class="col-xs-12 col-md-6">
        <h3 class="nvn-title">Thông tin cá nhân</h3>
        <div class="user-infor__content row" style="padding: 0 20px;">
            <div class="col-xs-6 ">
                <p>Name: Nguyễn Văn A</p>
            </div>
            <div class="col-xs-6 col-md-4">
                <p>Email: nvnhat.17ck1@gmail.com</p>
            </div> 
            <div class="col-xs-6">
                <p>PhoneNumber: Chưa cập nhật</p>
            </div>
             <div class="col-xs-6">
                <p>Username: Chưa cập nhật</p>
            </div>
         
        </div>
    </div>
    <div class="col-xs-12 col-md-6 overflowY">
        <h3 class="nvn-title">Thông tin tài khoản ngân hàng</h3>
        <div class="user-infor__content" style="padding: 0 20px;">
            <div class="bank-infors row " style="border:1px solid #ddd;">
                <div class="col-xs-6 ">
                    <p>STK: Nguyễn Văn A</p>
                </div>
                <div class="col-xs-6 col-md-4">
                    <p>Số dư: nvnhat.17ck1@gmail.com</p>
                </div> 
                <div class="col-xs-6">
                    <p>Loại tiền tệ: Chưa cập nhật</p>
                </div>
                 <div class="col-xs-6">
                    <p>Ngày mở thẻ: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Ngày hết hạn: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Trạng thái thẻ: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Mặc định: Không</p>
                </div>
            </div>
            <div class="bank-infors row" style="border:1px solid #ddd;margin-top:10px;">
                <div class="col-xs-6 ">
                    <p>STK: Nguyễn Văn A</p>
                </div>
                <div class="col-xs-6 col-md-4">
                    <p>Số dư: nvnhat.17ck1@gmail.com</p>
                </div> 
                <div class="col-xs-6">
                    <p>Loại tiền tệ: Chưa cập nhật</p>
                </div>
                 <div class="col-xs-6">
                    <p>Ngày mở thẻ: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Ngày hết hạn: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Trạng thái thẻ: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Mặc định: Không</p>
                </div>
            </div>
            <div class="bank-infors row " style="border:1px solid #ddd;margin-top:10px">
                <div class="col-xs-6 ">
                    <p>STK: Nguyễn Văn A</p>
                </div>
                <div class="col-xs-6 col-md-4">
                    <p>Số dư: nvnhat.17ck1@gmail.com</p>
                </div> 
                <div class="col-xs-6">
                    <p>Loại tiền tệ: Chưa cập nhật</p>
                </div>
                 <div class="col-xs-6">
                    <p>Ngày mở thẻ: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Ngày hết hạn: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Trạng thái thẻ: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Mặc định: Không</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <h3 class="nvn-title">Thông tin sổ tiết kiệm</h3>
        <div class="user-infor__content" style="padding: 0 20px;">
            <div class="saving row" >
                <div class="col-xs-6 ">
                    <p>TKTK: 1000-5000-5000-1000</p>
                </div>
                <div class="col-xs-6 col-md-4">
                    <p>Số tiền gửi: 5000000 USD </p>
                </div> 
                <div class="col-xs-6">
                    <p>Kì hạn: 6 tháng</p>
                </div>
                 <div class="col-xs-6">
                    <p>Đã gửi: 6 ngày</p>
                </div>
                <div class="col-xs-6">
                    <p>Lãi suất: 5%</p>
                </div>
                
                <div class="col-xs-6">
                    <p>Tới kì hạn: Chưa</p>
                </div>
                <div class="col-xs-6">
                    <p>Số tiền sau khi rút: Tính toán</p>
                </div>
                <div class="col-xs-6">
                    <p>Đã tiết kiệm được: 1đ</p>
                </div>
            </div>
           
        </div>
    </div>
    <div class="col-xs-12 col-md-6 overflowY">
        <h3 class="nvn-title">Lịch sử</h3>
        <div class="user-infor__content" style="padding: 0 20px;">
           <table class="table">
               <tr>
                   <th>Ngày</th>
                   <th>Từ</th>
                   <th>Đến</th>
                   <th>Số tiền</th>
                   <th>Loại tiền tệ</th>
                   <th>Lời nhắn</th>
                   <th>Loại</th>
               </tr>
               <tr>
                <td>20/10/2020</td>
                <td>1000-1000-1000</td>
                <td>1111-111-1111-1</td>
                <td>50000</td>
                <td>USD</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, officiis.</td>
                <td>Chuyển tiền</td>
            </tr>
           </table>
        </div>
    </div>
</div>

<!-- <table class="table table-searchform">
    <thead>
        <tr>
            <th scope="col">Display Name</th>
            <th scope="col">Email</th>
            <th scope="col">User Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Xác thực tài khoản</th>
            <th scope="col">Tình trạng khách hàng</th>
            <th scope="col">Lịch sử giao dịch </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <% if(users){%>
            <%- `<th> ${users.displayName}</th>`%>
            <%- `<td>${users.email}</td>`%>
            <%- `<td> ${users.username}</td>`%>
            <%- `<td> ${users.phoneNumber}</td>`%>
            <%- `<td class="btn btn-sign-up btn-acp">Xác thực</td>`%>  
            <%- `<td class="btn btn-sign-up btn-acp btn-dark">Từ chối</td>`%>  
            <%- `<td><select class="mdb-select md-form">
                <option value="" disabled selected>Choose your option</option>
                <option value="1" ${users.isActive == 0 ? "selected": ""}>Chưa xác thực</option>
                <option value="2" ${users.isActive == 1 ? "selected": ""}>Đã xác thực</option>
                <option value="3" ${users.isActive == 2 ? "selected": ""}>Khóa </option>
              </select>
              </td>`%>
           
            <%- `<td> <a href="./lichsu/${users.id}"  class="btn btn-sign-up btn-acp mar-7" > Truy cập </a></td>`%>
            <%}else{%>

                <%}%>
            
      
      </tr>
    </tbody>
  </table> -->

    <%- include ('footer'); %>


 

