<<<<<<< HEAD
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<%- include ('header',{title:'Home - Transfer Money'}); %>
<form action="" method="post">
    <div class="form-group searchform cf">
        <label for="txtCustomer">Tìm kiếm thông tin khách hàng</label>
        <input type="text" class="txtCustomer" required placeholder="Enter Your Email , Username, Phone  "
            name="txtCustomer" id="txtCustomer">
        <input type="submit" value="Tìm kiếm ">
    </div>
</form>
<table class="table table-searchform">
    <thead>
        <tr>
            <th scope="col">Display Name</th>
            <th scope="col">Email</th>
            <th scope="col">User Name</th>
            <th scope="col">Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <% if(users){%>
            <%- `<th> ${users.displayName}</th>`%>
            <%- `<td>${users.email}</td>`%>
            <%- `<td> ${users.username}</td>`%>
            <%- `<td> ${users.phoneNumber}</td>`%>
            <%}%>
      
      </tr>
    </tbody>
  </table>

    <%- include ('footer'); %>
<style>
.txtCustomer {
    margin: 15px 0;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.searchform {
    background: #f4f4f4;
    border: 1px solid #d3d3d3;
    left: 50%;
    padding: 29px 59px;
    position: absolute;
    margin: -22px 0 0 -170px;
    top: 33px;
    width: 339px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
    border-radius: 10px;
    position: relative;
}

.searchform input {
    background: #fefefe;
    border: none;
    font: 12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
    margin-right: 5px;
    padding: 10px;
    width: 216px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
    border-radius: 9px;

}

.table-searchform {
    top: 20%;
    box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
    border-radius: 10px;
    position: relative;
}
</style>
=======
<%- include ('header',{title:'Home - Transfer Money'}); %>
    <ul>
        <% if(users){%>
        <%users.forEach(item=>{%>
            <%- `<li>hello: ${item.displayName}</li>`%>
        <%})%>
        <%}%>
       
    </ul>
    <%- include ('footer'); %>
>>>>>>> be870e701838c41b2e48b3a5e059faaa3963c80c
