<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<%- include ('header',{title:'Payyed - Staff Management'}); %>
<form action="" method="post">
    <div class="form-group searchform cf">
        <label for="txtCustomer">Tìm kiếm thông tin khách hàng</label>
        <input type="text" class="txtCustomer" required name="txtCustomer" id="txtCustomer"
            placeholder="Enter Your ID, Email , Username, Phone" value="<%- currentFind !=null ?currentFind:'' %>">
        <input type="submit" value="Tìm kiếm ">
    </div>
</form>

<div class="user-info row ">
    <div class="col-xs-12 col-md-6">
        <h3 class="nvn-title">Thông tin cá nhân</h3>
        <div class="user-infor__content row" style="padding: 0 20px;">
            <div class="col-xs-6 ">
                <p>Name: Nguyễn Văn A</p>
            </div>
            <div class="col-xs-6">
                <p>Email: nvnhat.17ck1@gmail.com</p>
            </div>
            <div class="col-xs-6">
                <p>PhoneNumber: Chưa cập nhật</p>
            </div>
            <div class="col-xs-6">
                <p>Username: Chưa cập nhật</p>
            </div>
            <div class="col-xs-12 row a-center" style="margin-left: 0;">
                <div class="col-xs-6" style="padding: 0">
                    <p>Password: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6" style="padding: 0">
                    <a href="">
                        <button class="btn color-white ">Hiện</button>
                    </a>
                    <a href="">
                        <button class="btn color-white bg-black">Đổi password</button>
                    </a>
                </div>


            </div>

        </div>
    </div>
    <div class="col-xs-12 col-md-6 overflowY">
        <h3 class="nvn-title">Thông tin tài khoản ngân hàng</h3>
        <div class="user-infor__content" style="padding: 0 20px;">
            <div class="bank-infors row " style="border:1px solid #ddd;">
                <div class="col-xs-6 ">
                    <p>STK: Nguyễn Văn A</p>
                </div>
                <div class="col-xs-6 ">
                    <p>Số dư: 2000 USD</p>
                </div>
                <div class="col-xs-6">
                    <p>Loại tiền tệ: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Ngày mở thẻ: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Ngày hết hạn: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Trạng thái thẻ: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Mặc định: Không</p>
                </div>
                <div class="col-xs-6 row a-center" style="margin-left: 0;">
                    <a href="">
                        <button class="btn color-white bg-main" style="margin-right:5px;">Nạp tiền</button>
                    </a>
                    <a href="">
                        <button class="btn color-white bg-black">Rút tiền</button>
                    </a>
                </div>
            </div>
            <div class="bank-infors row " style="border:1px solid #ddd;">
                <div class="col-xs-6 ">
                    <p>STK: Nguyễn Văn A</p>
                </div>
                <div class="col-xs-6 ">
                    <p>Số dư: 2000 USD</p>
                </div>
                <div class="col-xs-6">
                    <p>Loại tiền tệ: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Ngày mở thẻ: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Ngày hết hạn: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Trạng thái thẻ: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Mặc định: Không</p>
                </div>
                <div class="col-xs-6 row a-center" style="margin-left: 0;">
                    <a href="">
                        <button class="btn color-white bg-main" style="margin-right:5px;">Nạp tiền</button>
                    </a>
                    <a href="">
                        <button class="btn color-white bg-black">Rút tiền</button>
                    </a>
                </div>
            </div>
            <div class="bank-infors row " style="border:1px solid #ddd;">
                <div class="col-xs-6 ">
                    <p>STK: Nguyễn Văn A</p>
                </div>
                <div class="col-xs-6 ">
                    <p>Số dư: 2000 USD</p>
                </div>
                <div class="col-xs-6">
                    <p>Loại tiền tệ: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Ngày mở thẻ: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Ngày hết hạn: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Trạng thái thẻ: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Mặc định: Không</p>
                </div>
                <div class="col-xs-6 row a-center" style="margin-left: 0;">
                    <a href="">
                        <button class="btn color-white bg-main" style="margin-right:5px;">Nạp tiền</button>
                    </a>
                    <a href="">
                        <button class="btn color-white bg-black">Rút tiền</button>
                    </a>
                </div>
            </div>
            <div class="bank-infors row " style="border:1px solid #ddd;">
                <div class="col-xs-6 ">
                    <p>STK: Nguyễn Văn A</p>
                </div>
                <div class="col-xs-6 ">
                    <p>Số dư: 2000 USD</p>
                </div>
                <div class="col-xs-6">
                    <p>Loại tiền tệ: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Ngày mở thẻ: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Ngày hết hạn: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Trạng thái thẻ: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Mặc định: Không</p>
                </div>
                <div class="col-xs-6 row a-center" style="margin-left: 0;">
                    <a href="">
                        <button class="btn color-white bg-main" style="margin-right:5px;">Nạp tiền</button>
                    </a>
                    <a href="">
                        <button class="btn color-white bg-black">Rút tiền</button>
                    </a>
                </div>
            </div>
            <div class="bank-infors row " style="border:1px solid #ddd;">
                <div class="col-xs-6 ">
                    <p>STK: Nguyễn Văn A</p>
                </div>
                <div class="col-xs-6 ">
                    <p>Số dư: 2000 USD</p>
                </div>
                <div class="col-xs-6">
                    <p>Loại tiền tệ: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Ngày mở thẻ: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Ngày hết hạn: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Trạng thái thẻ: Chưa cập nhật</p>
                </div>
                <div class="col-xs-6">
                    <p>Mặc định: Không</p>
                </div>
                <div class="col-xs-6 row a-center" style="margin-left: 0;">
                    <a href="">
                        <button class="btn color-white bg-main" style="margin-right:5px;">Nạp tiền</button>
                    </a>
                    <a href="">
                        <button class="btn color-white bg-black">Rút tiền</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <h3 class="nvn-title">Thông tin sổ tiết kiệm</h3>
        <div class="user-infor__content" style="padding: 0 20px;">
            <div class="saving row">
                <div class="col-xs-6 ">
                    <p>TKTK: 1000-5000-5000-1000</p>
                </div>
                <div class="col-xs-6 col-md-4">
                    <p>Số tiền gửi: 5000000 USD </p>
                </div>
                <div class="col-xs-6">
                    <p>Kì hạn: 6 tháng</p>
                </div>
                <div class="col-xs-6">
                    <p>Đã gửi: 6 ngày</p>
                </div>
                <div class="col-xs-6">
                    <p>Lãi suất: 5%</p>
                </div>

                <div class="col-xs-6">
                    <p>Tới kì hạn: Chưa</p>
                </div>
                <div class="col-xs-6">
                    <p>Số tiền sau khi rút: Tính toán</p>
                </div>
                <div class="col-xs-6">
                    <p>Đã tiết kiệm được: 1đ</p>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xs-12 col-md-6 overflowY">
        <h3 class="nvn-title">Lịch sử</h3>
        <div class="user-infor__content" style="padding: 0 20px;">
            <div class="transfer-history row" style="border:1px solid #ddd; padding: 10px; margin-bottom: 10px;">
                <div class="transfer-history-head col-xs-12 row" style="margin-left: 0; margin-right: 0;">
                    <p class="col-xs-4">Ngày: 20/10/2020</p>
                    <p class="col-xs-4">Loại: Chuyển tiền</p>
                    <p class="col-xs-4">Số tiền: 2000 USD</p>
                </div>
                <div class="trasnfer-history-bottom col-xs-12 row" style="margin-left: 0;margin-right: 0;">
                    <p class=" col-xs-4">Từ: 12344567789</p>
                    <p class=" col-xs-4">Đến: 12344567789</p>
                    <p class=" col-xs-4">Lời nhắn: Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque,
                        adipisci. </p>
                </div>
            </div>
            <div class="transfer-history row" style="border:1px solid #ddd; padding: 10px; margin-bottom: 10px;">
                <div class="transfer-history-head col-xs-12 row" style="margin-left: 0; margin-right: 0;">
                    <p class="col-xs-4">Ngày: 20/10/2020</p>
                    <p class="col-xs-4">Loại: Chuyển tiền</p>
                    <p class="col-xs-4">Số tiền: 2000 USD</p>
                </div>
                <div class="trasnfer-history-bottom col-xs-12 row" style="margin-left: 0;margin-right: 0;">
                    <p class=" col-xs-4">Từ: 12344567789</p>
                    <p class=" col-xs-4">Đến: 12344567789</p>
                    <p class=" col-xs-4">Lời nhắn: Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque,
                        adipisci. </p>
                </div>
            </div>
            <div class="transfer-history row" style="border:1px solid #ddd; padding: 10px; margin-bottom: 10px;">
                <div class="transfer-history-head col-xs-12 row" style="margin-left: 0; margin-right: 0;">
                    <p class="col-xs-4">Ngày: 20/10/2020</p>
                    <p class="col-xs-4">Loại: Chuyển tiền</p>
                    <p class="col-xs-4">Số tiền: 2000 USD</p>
                </div>
                <div class="trasnfer-history-bottom col-xs-12 row" style="margin-left: 0;margin-right: 0;">
                    <p class=" col-xs-4">Từ: 12344567789</p>
                    <p class=" col-xs-4">Đến: 12344567789</p>
                    <p class=" col-xs-4">Lời nhắn: Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque,
                        adipisci. </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <table class="table table-searchform">
    <thead>
        <tr>
            <th scope="col">Display Name</th>
            <th scope="col">Email</th>
            <th scope="col">User Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Xác thực tài khoản</th>
            <th scope="col">Tình trạng khách hàng</th>
            <th scope="col">Lịch sử giao dịch </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <% if(users){%>
            <%- `<th> ${users.displayName}</th>`%>
            <%- `<td>${users.email}</td>`%>
            <%- `<td> ${users.username}</td>`%>
            <%- `<td> ${users.phoneNumber}</td>`%>
            <%- `<td class="btn btn-sign-up btn-acp">Xác thực</td>`%>  
            <%- `<td class="btn btn-sign-up btn-acp btn-dark">Từ chối</td>`%>  
            <%- `<td><select class="mdb-select md-form">
                <option value="" disabled selected>Choose your option</option>
                <option value="1" ${users.isActive == 0 ? "selected": ""}>Chưa xác thực</option>
                <option value="2" ${users.isActive == 1 ? "selected": ""}>Đã xác thực</option>
                <option value="3" ${users.isActive == 2 ? "selected": ""}>Khóa </option>
              </select>
              </td>`%>
           
            <%- `<td> <a href="./lichsu/${users.id}"  class="btn btn-sign-up btn-acp mar-7" > Truy cập </a></td>`%>
            <%}else{%>

                <%}%>
            
      
      </tr>
    </tbody>
  </table> -->

<%- include ('footer'); %>