<%- include ('header',{title:'Home - Transfer Money'}); %>

<div class="transfer">
    <div class="navigation">
        <ul class="flex j-center a-center bg-main">
            <li class="active">
                <a href="/transfer">Internal</a>

            </li>
            <li>
                <a href="/transfer-external">External</a>

            </li>
        </ul>
    </div>
    <div class="container ">
        <div class="modal">
            <div class="title">
                <h3>Send Money</h3>
                <span>Send your money on anytime, anywhere in the world.</span>
            </div>
            <form action="" method="post">
                <div class="form-group">
                    <% if(errors || errors.length){ %>
                    <% errors.forEach(item=>{%>
                    <%- `<p>* ${item.msg}</p>`  %>
                    <%})%>
                    <%}%>
                </div>
                <div class="form-group">
                    <label for="txtMoney">You Send</label>
                    <input type="text" name="txtMoney" id="txtMoney" required>
                </div>
                <div class="form-group">
                    <label for="">Currency Unit</label>
                    <select name="currencyUnit" id="currencyUnit">
                        <%if(exchangeRates){%>
                    <%exchangeRates.forEach(item=>{%>
                    <%-`<option value=${item.displayName}>${item.displayName}</option>`%>
                    <%})%>
                    <%}%>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Beneficiary Bank</label>
                    <select name="beneficiaryBank" id="bankCode">
                        <%if(banks){%>
                    <%banks.forEach(item=>{%>
                    <%-`<option value=${item.bankCode}>${item.displayName}</option>`%>
                    <%})%>
                    <%}%>
                    </select>
                </div>
                <div class="form-group">
                    <label for="txtMoney">Card Number</label>
                    <input type="txtCardNumber" name="txtCardNumber" id="txtCardNumber" required>
                </div>
                <div class="form-group">
                    <label for="txtMessage">Message</label>
                    <div>

                        <textarea name="txtMessage" id="txtMessage" rows="4" required></textarea>
                    </div>

                </div>
                <div class="form-action">
                    <a href=""><button class="btn" id="btnContinue">Continue</button></a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/Nhat/transfer.js"></script>

<%- include ('footer'); %>
                    <script>
                        $(function () {
                            $('footer').css('display', 'none');

                        });
                    </script>