<%- include ('header',{title:'Home - Transfer Money'}); %>

<div class="transfer">
    <div class="pop-up" style="display: none;">
        <div class="modal">
            <form action="">
                <div class="title">
                    <h3 style="text-align: center;color: #333;">Xác Thực</h3>
                    <i class="far fa-times-circle close"></i>
                </div>
                <div class="from-group">
                    <label for="">Password</label>
                    <input type="password" id="txtPassword">
                </div>
                <div class="from-group ">
                    <label for="">Code</label>
                    <div class="flex a-center j-between">
                        <input type="text" id="txtCode">
                        <button class="btn-sendCode">Send Code</button>
                    </div>
                </div>
                <div class="form-action">
                    <button class="btn btn-confirm">Confirm</button>
                </div>
            </form>
        </div>
    </div>
    <div class="navigation">
        <ul class="flex j-center a-center bg-main">
            <li class="active">
                <a href="/transfer">Internal</a>

            </li>
            <li>
                <a href="/transfer-external">External</a>

            </li>
        </ul>
    </div>
    <div class="container ">
        <div class="modal">
            <div class="title">
                <h3>Send Money</h3>
                <span>Send your money on anytime, anywhere in the world.</span>
            </div>
            <form action="" method="post">
                <div class="form-group">
                    <% if(errors || errors.length){ %>
                    <% errors.forEach(item=>{%>
                    <%- `<p>* ${item.msg}</p>`  %>
                    <%})%>
                    <%}%>
                </div>
                <div class="form-group">
                    <label for="txtMoney">You Send</label>
                    <input type="text" name="txtMoney" id="txtMoney" required>
                </div>
                <div class="form-group">
                    <label for="">Currency Unit</label>
                    <select name="currencyUnit" id="currencyUnit">
                        <%if(exchangeRates){%>
                    <%exchangeRates.forEach(item=>{%>
                    <%-`<option value=${item.displayName}>${item.displayName}</option>`%>
                    <%})%>
                    <%}%>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Beneficiary Bank</label>
                    <select name="beneficiaryBank" id="bankCode">
                        <%if(banks){%>
                    <%banks.forEach(item=>{%>
                    <%-`<option value=${item.bankCode}>${item.displayName}</option>`%>
                    <%})%>
                    <%}%>
                    </select>
                </div>
                <div class="form-group">
                    <label for="txtMoney">Card Number</label>
                    <input type="txtCardNumber" name="txtCardNumber" id="txtCardNumber" required>
                </div>
                <div class="form-group">
                    <label for="txtMessage">Message</label>
                    <div>

                        <textarea name="txtMessage" id="txtMessage" rows="4" required></textarea>
                    </div>

                </div>
                <div class="form-action">
                    <a href=""><button class="btn" id="btnContinue">Continue</button></a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="./vendor/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/Nhat/transfer.js"></script>

<%- include ('footer'); %>
                    <script>
                        $(function () {
                            $('footer').css('display', 'none');
                        });

                        $(document).on('click', '.btn-confirm', function (e) {
                            e.preventDefault();
                            $('.error').remove()
                            const password = $('#txtPassword').val()
                            const code = $('#txtCode').val()
                            if (!password || !code) {
                                $(`<p class="error" style="color:red;font-size:14px; margin-top: 10px">* Vui lòng điền đầy đủ thông tin</p>`).appendTo(`.modal form`);
                            }
                            else {
                                $.post("api/two-step-verification", { password },
                                    function (data, textStatus, jqXHR) {
                                        if (!data) {
                                            $(`<p class="error" style="color:red;font-size:14px; margin-top: 10px">* Mật khẩu không hợp lệ</p>`).appendTo(`.modal form`);
                                        }
                                        else {
                                            if (code != localStorage.code) {
                                                $(`<p class="error" style="color:red;font-size:14px; margin-top: 10px">* Code không hợp lệ</p>`).appendTo(`.modal form`);
                                            }
                                            else {
                                                localStorage.removeItem('code');
                                                const money = $('#txtMoney').val();
                                                const currencyUnit = $('#currencyUnit').val();
                                                const bankCode = $('#bankCode').val();
                                                const stk = $('#txtCardNumber').val();
                                                const message = $('#txtMessage').val();

                                                if (!money || !currencyUnit || !bankCode || !stk || !message) {
                                                    alert('Vui lòng điền đầy đủ thông tin');
                                                    return;
                                                }

                                                let tmp = money;
                                                if (currencyUnit == "VND") {
                                                    tmp = Number(money) / 23000;
                                                }
                                                $('.error').remove();
                                                if (!Number(money) || Number(money) <= 0) {
                                                    addError('Vui lòng nhập số tiền hợp lệ');
                                                    return;
                                                }

                                                $.get("api/account/info", function (data, textStatus, jqXHR) {

                                                    if (!data) {
                                                        addError('Bạn chưa có chưa có tài khoản ngân hàng <a href="/">Thêm tài khoản</a>');
                                                    }
                                                    // else if (data.isActive == 0) {
                                                    //     addError('Tài khoản ngân hàng của bạn đã bị khóa');
                                                    // }
                                                    else if (Number(data.balance) < Number(tmp)) {
                                                        addError('Số dư tài khoản không đủ');
                                                    }
                                                    else {
                                                        const from = data.STK;
                                                        $.post("api/account/addMoney", {
                                                            money: money,
                                                            currencyUnit: currencyUnit,
                                                            bankCode: bankCode,
                                                            stk: stk,
                                                            message: message,
                                                            from,
                                                        },
                                                            function (data, textStatus, jqXHR) {
                                                                if (data == '-1') {
                                                                    addError('Không thể gửi tiền cho chính mình');
                                                                }
                                                                if (data == '-2') {
                                                                    addError('Lỗi không xác định');
                                                                }
                                                                if (data == '0') {
                                                                    addError('Số tài khoản thụ hưởng hoặc ngân hàng không hợp lệ');
                                                                }
                                                                if (data == '1') {

                                                                    const activity = {
                                                                        stk,
                                                                        money,
                                                                        currencyUnit
                                                                    }
                                                                    socket.emit('transfer', activity)
                                                                    localStorage.setItem('activityTransfer', JSON.stringify(activity));
                                                                    $(location).attr('href', '/transfer-success');
                                                                }
                                                            },
                                                        );
                                                        // console.log('Số dư tài khoản đủ');
                                                    }
                                                    return;
                                                },
                                                );

                                            }
                                        }
                                    },
                                );
                            }

                        });
                        $(document).on('click', '.pop-up', function (e) {
                            $(this).fadeOut(500);
                        });
                        $(document).on('click', '.modal', function (e) {
                            e.stopPropagation();
                        });
                        $(document).on('click', '.close', function (e) {
                            $('.pop-up').fadeOut(500);
                        });
                        $(document).on('click', '.btn-sendCode', function (e) {
                            e.preventDefault();
                            const found = $(this).attr('class').split(' ')

                            if (found.length != 1) {

                            }
                            else {
                                $.get("api/sendcode-verification",
                                    function (data, textStatus, jqXHR) {
                                        if (data) {
                                            localStorage.setItem("code", data);
                                        }
                                    },
                                );
                                let i = 10;
                                $(this).addClass('active');
                                function setTime() {
                                    i--;
                                    $('.btn-sendCode').text(`Wait (${i})`)
                                    if (i == 0) {
                                        $('.btn-sendCode').removeClass('active');
                                        clearTimeout();
                                        $('.btn-sendCode').text(`Send Code`);
                                    }
                                    else {
                                        setTimeout(() => {
                                            setTime()
                                        }, 1000)
                                    }
                                }
                                setTime();
                            }
                        });


                    </script>